<%- include('./partials/header') %>
    <% if(success.length>0){ %>
        <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-blue-500">
            <span class="inline-block mt-1 mb-1 text-white">
                <%= success %>
            </span>
        </div>
        <% } %>
            <div class="w-full px-4 py-4 md:px-20 md:py-20">
                <div class="md:flex">
                    <div class="w-full md:w-1/4">
                        <div class="flex items-center gap-2">
                            <h3>sort by</h3>
                            <form action="/shop">
                                <select class="border-[1px] px-2 py-1" name="sortby" id="">
                                    <option value="popular">Popular</option>
                                    <option value="newest">Newest</option>
                                </select>
                            </form>
                        </div>
                        <div class="flex flex-col mt-4 md:mt-20">
                            <a class="block w-fit mb-2" href="">New Collection</a>
                            <a class="block w-fit mb-2" href="">All Products</a>
                            <a class="block w-fit mb-2" href="">Discounted Products</a>
                        </div>
                        <div class="mt-8">
                            <a class="block w-fit mb-2" href="">Filter by :</a>
                            <a class="block w-fit mb-2" href="">Availability</a>
                            <a class="block w-fit mb-2" href="">Discount</a>
                        </div>
                    </div>
                    <div class="w-full md:w-3/4 mt-8 md:mt-0">
                        <div class="flex flex-wrap gap-4">
                            <% products.forEach(function(product, index){ %>
                                <div class="w-full md:w-1/3">
                                    <div
                                        class="w-full h-52 flex items-center justify-center bg-[<%= product.bgcolor %>]">
                                        <img class="h-[12rem]"
                                            src="data:image/jpeg;base64,<%= product.image.toString('base64') %>" alt="">
                                    </div>
                                    <div
                                        class="flex justify-between bg-[<%= product.panelcolor %>] items-center px-4 py-4 text-[<%= product.textcolor %>] rounded">
                                        <div>
                                            <h3>
                                                <%= product.name %>
                                            </h3>
                                            <h4>₹ <%= product.price %>
                                            </h4>
                                        </div>
                                        <a class="w-7 h-7 flex items-center justify-center rounded-full bg-white"
                                            href="/addtocart/<%=product._id%>">
                                            <i class="ri-add-line"></i>
                                        </a>
                                    </div>
                                </div>
                                <% if ((index + 1) % 3===0) { %>
                        </div>
                        <div class="flex flex-wrap gap-4">
                            <% } %>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('./partials/footer') %>